.main-header, .main-nav, .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.main-header {
    max-width: 1400px;
    margin: auto;
}

.header-container {
    padding: 0 10px;
    border-bottom: 2px solid #ededed;
}

.main-nav-item, .user-item {
    margin: 0 8px;
    height: 100%;
    line-height: 60px;
    padding: 0 4px;
}

.user-item img {
    width: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.user-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav-item.active {
    border-bottom: 3px solid #ff8989;
} 

.container {
    max-width: 1200px;
    margin: auto;
}
